.root {
  width: 100%;
  border: 1px solid #e6e6e6;
  border-radius: 12px;
  margin: auto;
  padding: 16px;
  margin-bottom: 24px;
  .subject {
    text-align: center;
    .img {
      border-radius: 12px;
    }
    .type {
      padding: 16px;
      border-bottom: 1px solid var(--text-light-mute);
    }
  }
  .content {
    display: flex;
    justify-content: space-between;
    > div {
      margin: 16px 0 24px;
      display: flex;
      align-items: center;
      .time {
        color: var(--text-dark-mute);
        margin-right: 4px;
      }
    }
  }
  .arrowIcon {
    font-size: 14px;
  }
}
