.root {
  .title {
    padding: 16px 0;
    font-weight: 600;
  }
  .images {
    padding-bottom: 16px;
    .image {
      margin: 16px 0 8px;
      width: 100%;
      height: 162px;
      //   max-height: 185px;
      position: relative;
    }
  }
}
