// variables
:root {
  --primary-main: #7e22dd;
  --primary-light: #651bb1;
  --primary-lighter: #984ee4;
  // --primary-tags: #1d60af;
  --primary-contrastText: #fff;

  --secondary-main: #81dd22;
  --secondary-light: #67b11b;
  --secondary-lighter: #9ae44e;
  --secondary-contrastText: #ffffff;

  --success-main: #07c5ae;
  --success-light: #a0d6aeb2;
  --success-lighter: #a0d6ae1a;
  --success-contrastText: #fff;

  --error-main: #eb4137;
  --error-light: #af231d;
  --error-lighter: #f5a09b1a;
  --error-contrastText: #fff;

  --warning-main: #fbbd06;
  --warning-light: #fdde82b2;
  --warning-lighter: #fdde821a;

  --info-main: #d0e1fb;
  --info-light: #60abd547;
  --info-lighter: #60abd51a;

  --background-default: #fff;
  --background-primary: #6f1ec3;
  --background-secondary: #fafafa;
  --background-paper: #fff;
  --background-mute: #f7f7f7;

  --text-primary: #212121;
  --text-secondary: rgba(0, 0, 0, 0.6);
  --text-light: white;
  --text-mute: #bdbdbd;
  --text-main-mute: #999999;
  --text-light-mute: #e6e6e6;
  --text-dark-mute: #666666;

  // --action-disabledBackground: #6c759624;
  // --action-selected: rgba(0, 0, 0, 0.08);

  // --divider: rgba(0, 0, 0, 0.12);
  // --divider: #e0e0e0;
  // --skeleton: rgba(33, 33, 33, 0.11);

  // --grey-50: #fafafa;
  // --grey-100: #f5f5f5;
  // --grey-200: #eeeeee;
  // --grey-300: #e0e0e0;
  // --grey-400: #bdbdbd;
  // --grey-500: #9e9e9e;
  // --grey-600: #757575;
  // --grey-700: #616161;
  // --grey-800: #424242;
  // --grey-900: #212121;
  // --grey-A100: #f5f5f5;
  // --grey-A200: #eeeeee;
  // --grey-A400: #bdbdbd;
  // --grey-A700: #616161;

  --font-h1: 1.714285714285714rem;
  --font-h2: 1.571428571428571rem;
  --font-h3: 1.428571428571429rem;
  --font-h4: 1.285714285714286rem;
  --font-h5: 1.142857142857143rem;
  --font-h6: 1rem;
  --font-body1: 0.857142857142857rem;
  --font-body2: 0.785714285714286rem;
  --font-caption: 0.714285714285714rem;
  --font-overline: 0.642857142857143rem;

  --shadow-1: 0px 0px 4px rgba(0, 0, 0, 0.14);
  --shadow-2: 0px 12px 32px rgba(0, 0, 0, 0.04);
}
// darkTheme
[data-theme="dark"]:root {
  --primary-main: #3770cb;
  --primary-light: #4285f24d;
  --primary-lighter: #4285f21a;

  --secondary-main: #646b7e;
  --secondary-light: #202a37;
  --secondary-contrastText: #fff;

  --success-main: #30be81;
  --success-light: #34a8534d;
  --success-lighter: #34a8531a;

  --error-main: #eb4137;
  --error-light: #eb41374d;
  --error-lighter: #eb41371a;

  --warning-main: #fbbd06;
  --warning-light: #fbbd064d;
  --warning-lighter: #fbbd061a;

  --info-main: #4a7f9c;
  --info-light: #60abd547;

  --background-default: #111720;
  --background-secondary: #111720;
  --background-paper: #202a37;

  --text-primary: rgba(255, 255, 255, 0.98);
  --text-secondary: rgba(255, 255, 255, 0.7);

  // --action-disabledBackground: #6c759624;
  // --action-selected: rgba(255, 255, 255, 0.16);

  // --divider: #ffffff26;
  // --skeleton: rgba(255, 255, 255, 0.11);

  // --grey-300: #202a37;
}
