.root {
  text-align: center;
  margin: auto;
  .box {
    margin-top: 30vh;
  }
  .backImg {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: auto;
    background-color: var(--background-mute);
    padding-top: 10px;
  }
  h6 {
    margin: 24px;
  }
  .sticker {
    width: 24px;
    height: 24px;
  }
}
