.root {
  padding-bottom: 55px;
  .content {
    padding-top: 16px;
    .item {
      padding: 8px 0 32px;
      .formHelperText {
        color: #333333;
        padding-right: 16px;
      }
    }
  }

  .box {
    margin: 16px 0;
    height: 124px;
    border: 1px dashed #cccccc;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    span {
      color: var(--text-main-mute);
      padding-top: 10px;
    }
    .icon {
      fill: var(--text-main-mute);
    }
  }

  .button {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 16px 16px 24px;
    background-color: white;
  }
}
