.root {
  .content {
    margin-top: 24px;
    .box {
      margin: 16px 0;

      .options {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 24px;
        .item {
          margin: 0 8px;
        }
      }
    }
  }
}
