.root {
  .title {
    padding: 16px 0;
    font-weight: 600;
  }
  .content {
    .box {
      margin: 16px 0;
      height: 124px;
      border: 1px dashed #cccccc;
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    span {
      color: var(--text-main-mute);
    }
  }
  .button {
    padding: 16px 0;
  }
  .icon {
    width: 20px;
    height: 20px;
    fill: var(--text-main-mute);
    margin-bottom: 8px;
  }
  .notice {
    padding: 16px 16px 8px;
    margin: 12px 16px 0;
    background-color: var(--background-mute);
    border: 1px solid var(--text-light-mute);
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    position: absolute;
    top: 0;
    z-index: 100000;
    right: 0;
    .buttonNot {
      margin-top: 8px;
      flex-basis: content;
    }
  }
}
